@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.offcanvas-full {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
  }

body{
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    overflow-x: hidden;
}
.card{
    align-items: center!important;
}
@media (min-width: 992px) {
    .navbar-toggler {
      display: none;
    }
    .offcanvas {
      display: none;
    }

  }
  @media(max-width:991px){
    .left,.right,.bottom-navbar,.left-bottom-navbar,.right-bottom-navbar{
        display: none;
    }
    .logo_main{
        position: relative;
        left: 15px;
    }
    .only-logo{
        position: relative;
        
    }
    

  }

  .offcanvas-full {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
  }



 @media (max-width: 2576px) {
    h1{
        font-size: 50px!important;
        font-weight: bolder!important;
     }
     p{
        font-size: 20px!important;
     }
     h5{
        font-size: 23px!important;
        font-weight: bold!important;
        color: #285531!important;
     }
     h6{
        font-size: 18px!important;
     }
     .contentthree-container ul,li{
        font-size: 20px;
        }
        .bottom-navbar{
            position: relative;
            top: 45px!important;
           }
           .top-navbar a {
            font-size: 15px;
           }
           .top-navbar li {
            font-size: 15px;
           }
           .top-navbar svg{
            padding: 3px;
           }
           .line{
            border-right: 2px solid white;
            height: 20px;
            display: flex;
            align-items: center;
           }
           .line3{
            border-right: 2px solid white;
            height: 15px;
            display: flex;
            align-items: center;
           }
           .line2{
            border-right: 2px solid #285531;
            height: 18px;
            display: flex;
            align-items: center;
           }
           .bottom-navbar a {
            font-size: 15px;
           }
           .bottom-navbar ul{
            margin: 0;
           }
           .button-main {
            font-size: 20px!important;
         }
           
 }
 
 @media (min-width: 992px) and (max-width: 1440px) {
    h1{
        font-size: 35px!important;
        font-weight: bolder!important;
     }
     p{
        font-size: 18px!important;
     }
     h5{
        font-size: 16px!important;
        font-weight: bold!important;
        color: #285531!important;
     }
     h6{
        font-size: 15px!important;
     }
     .button-main {
        font-size: 20px!important;
     }
     .footer-right p {
        font-size: 15px!important;
     }
     .contentthree-container ul,li{
        font-size: 18px;
        }

           .bottom-navbar{
            position: relative;
            top: 45px!important;
           }
           .logo_main img{
            width: 120px!important;
        }

 }

 @media  (max-width: 991px) {
    .col-md-4{
        max-width: 300px!important;
    }
    
    h1{
        font-size: 30px!important;
        font-weight: bolder!important;
     }
     p{
        font-size: 15px!important;
     }
     h5{
        font-size: 17px!important;
        font-weight: bold!important;
        color: #285531!important;
     }
     h6{
        font-size: 15px!important;
     }
     .box.arrow-right:after{
        display: none;
     }
     /* .image-content {
        max-width: 95%!important;
     } */
     .image-box{
        display: flex;
        justify-content: center;
     }
     .button-main {
        font-size: 20px!important;
     }
     .footer-right p {
        font-size: 15px!important;
     }
     .contentthree-container ul,li{
        font-size: 18px;
        }
        .homepage{
            position: relative;
            top: 53px!important;
        }
        .logo_main img{
            width: 120px!important;
        }

 }


/* Navbar */
.top-navbar a {
    font-size: 15px;
   }
   .top-navbar li {
    font-size: 15px;
   }
   .top-navbar svg{
    padding: 3px;
   }
   .bottom-navbar a {
    font-size: 15px;
   }
   .bottom-navbar ul{
    margin: 0;
   }

.line{
    border-right: 2px solid white;
    height: 20px;
    display: flex;
    align-items: center;
   }
   .line2{
    border-right: 2px solid #285531;
    height: 18px;
    display: flex;
    align-items: center;
   }
.homepage{
    font-family: 'Source Sans 3', sans-serif;
    position: relative;
    top: 87px;
}
.navbar {
    background-color: #285531;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center; 
    font-family: 'Source Sans 3', sans-serif;
    font-size: 23px;
    width: 100%;
}
.top-navbar{
display: flex;
justify-content: space-between;
width: 100%;
margin-right: 25px;
background-color: #285531;
}

.left ul {
    display: flex;
    list-style-type: none;
    color: white;
    margin: 0!important;
}

.right ul{
    list-style-type: none;
    display: flex;
    color: white;
    margin: 0!important;
}
.logo_main{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.logo_main img{
    width: 150px;
}

.navbar-toggler,
.btn-close,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}
.offcanvas{
    background-color: #285531!important;
}

.bottom-navbar{
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 67px;
background-color: #fff;
width: 100%;
color: #285531;
font-weight: bold;
}
.bottom-navbar a {
    color: #285531!important;
    font-weight: bold!important;
}
.left-bottom-navbar ul{
    display: flex;
}
.right-bottom-navbar ul{
    display: flex;
    align-items: center;

}

.bottom-navbar ul{
    font-family: 'Source Sans 3', sans-serif;
    list-style-type: none;
}
.button-nav{
    background-color: #e38a40!important;
    font-weight: bold!important;
}

/* Hero */

.hero{
    background-image:url(images/Layer\ 110.png);
    background-size: cover;
    height: 550px;

}
.contentone-h{
color: #285531;
}

.container-main{
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
   
    top: 150px;
}
.container-box img{
    max-width: 290px;
}

.contenttwo{
    background-color: #285531;

}
.contentthree-h1{
color: #285531;
}

.contentfour h1{
color: #285531;
}
.contentfour-span{
    color: #e38a40;
}
.image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .image-content {
    position: relative;
    width: calc(100vw - 50%);
    max-width: 200%;
    height: 100%;
  }

  .box {
    background-color: #285531;
    color: #fff;
    padding: 20px;
    position: relative;
    margin:0px;
    float: left;
  }
  .box button{
    font-size: 30px;
    color: #285531;
  }

  .box.arrow-right:after {
    content: " ";
    position: absolute;
    right: -50px;
    top: 150px;
    border-top: 80px solid transparent;
    border-right: none;
    border-left: 80px solid #285531;
    border-bottom: 80px solid transparent;
    z-index: 1;
  }
  .contenttwo-text {
    font-size: 50px;
  }
.contenttwo-text2{
    font-size: 30px;
}
.contenttwo-button{
    font-size: 40px;
}

  .image-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  .image-container img{
    min-height: 400px;
  }
  .image-text {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    text-align: center;
  }
  
  .image-text::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 20%;
    transform: translateX(-50%);
    border-top: 30px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }


  .footer {
    background-image: url(images/Layer\ 112.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: 'Source Sans 3', sans-serif;
    color: white;

}
.footer ul{
    list-style-type: none;
    padding-left: 0;
}
.footeraccept{
    font-size: 12px;
}
.footer-bottom{
    font-size: 15px;
}
.footer-top{
    font-size: 20px;
}
.footer p {
    font-size: 15px!important;
}
.footer a {
    font-size: 15px;
}
.footer button{
    color:white;
    background-color: #e38a40;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
}
.footer-button2{
    max-height: 40px;
    background-color: #285531!important;
}
.footer-bottom p{
    font-size: 15px!important;
}

a {
    text-decoration: none!important;
    color: white!important;
}

.szechenyi{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 250px;
}

/*layout1*/

/* .contentfour-container{
    padding-left: 80px!important;
    padding-right: 80px!important;
} */
@media (max-width: 2576px) {
.footer-bottome2 ul, .footer-bottome2 p{
    display: none!important;
}
}

@media (min-width: 992px) and (max-width: 1440px) {
    .contentthree h1{
        font-size: 30px!important;
    }
.contentthree li{
    font-size: 15px;
}
.contentthree p {
    font-size: 15px!important;
    margin: 0;
}
.contentthree button {
    font-size: 15px!important;
}
.contentthree span{
    font-size: 15px;
}

}

@media  (max-width: 991px) {
.left-footer{
    display: flex;
    justify-content: center;
}
.footer-bottome2 ul, .footer-bottome2 p{
    display: flex!important;
    justify-content: center!important;
}
.footer-bottome2 a, .footer-bottome2 p{
    font-size: 12px!important;
}
.footer-bottom ul, .footer-bottom p{
    display: none!important;
}
.contentfour-image{
    display: flex!important;
    justify-content: center!important;
}
}